body {
    background: black;
}

h1 {
    color: white;
    font-size: 48px;
    font-family: Consolas, monaco, monospace;
    text-align: center;
}

.game {
    position: relative;
}

    .game #canvas-game {
        border: 1px solid white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9000;
    }

img {
    display: none;
}

canvas {
    display: none;
}

#frontpage {
    width: 100%;
    height: 100%;
    text-align: center;
} 
    #frontpage #playBtn {
        width: 120px;
        height: 50px;
        font-size: 1.5em;
        cursor: pointer;
        margin: 50px;
    }
#audio button{
    color: black;
    display: none;
    background-color: transparent;
    margin-top: 10px;
    border-color: black;
    

}